.Section {
  display: block;
}
.Columns {
  display: flex;
  flex-direction: row;
}
.Chords {
  a {
    margin: 0 0.25em;
  }
}
.Progress {
  position: relative;
  width: calc(640px - 2 * 12px);
  height: 3px;
  margin: 0 12px;
  background: darkslategray;
  i {
    position: absolute;
    width: 0;
    height: 100%;
    background: red;
  }
}
