html,
body {
  position: relative;
  height: 100%;
  margin: 0;
}
.App {
  min-height: 100%;
}
.Nav {
  display: flex;
  line-height: 1em;

  h1 {
  }
  ul {
    display: flex;
  }
  li {
    display: flex;
    margin: 0.25em;
  }
}
