.Note {
  border: none;
  // width: 100%;
  // height: 100%;
  border: 2px solid white;
  box-sizing: border-box;
  padding: 0;
  outline: none;
  transition: background-color 0.2s;
  // color: transparent;
  // font-size: 0px;
  border-radius: 2px;
  &:focus {
    border-color: #666;
  }
}
.Octave {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
  .Note {
    order: 0;
    flex-grow: 1;
  }
  .WhiteNotes {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
  }
  .BlackNotes {
    position: absolute;
    top: 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 55%;
    .Note {
      &:first-child,
      &:last-child {
        flex-grow: 0.5;
        pointer-events: none;
      }
    }
  }
}
.Keyboard {
  display: flex;
  background-color: white;
  height: 80px;
  .Octave {
    flex-grow: 1;
  }
}
