.Player {
  display: flex;
  flex-direction: column;
}

.Container {
  display: flex;
  flex-direction: row;
  margin: 2rem;
  align-items: center;
}

.Button {
  width: 4em;
  height: 4em;
  margin: 1em;
  border: 2px solid currentColor;
  border-radius: 50%;
  &__Play {
    color: green;
  }
  &__Stop {
    color: red;
  }
}

.Waveform {
  flex: 1;
  margin: 1em;
  canvas {
    display: block;
    width: 100%;
    height: 8em;
  }
}
