.Section {
  display: block;
}
.Progress {
  position: relative;
  width: calc(640px - 2 * 12px);
  height: 3px;
  margin: 0 12px;
  background: darkslategray;
  i {
    position: absolute;
    width: 0;
    height: 100%;
    background: red;
  }
}
.Text {
  overflow-y: auto;
  max-height: 10em;
  padding: 1em;
  background: lightyellow;
}
.Columns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.Chords {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  .Chord {
    display: flex;
    width: 80px;
  }
}
